{%  extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% if name %}

  <h1>User added! Hello {{ name }}</h1>
  </br>

{% else %}
  <h1>User List:</h1>
  <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.username.label(class='form-label') }}
      {{ form.username(class='form-control') }}
      </br>
      {{ form.name.label(class='form-label') }}
      {{ form.name(class='form-control') }}
      </br>
      {{ form.email.label(class='form-label') }}
      {{ form.email(class='form-control') }}
      </br>
      {{ form.profile_pic.label(class='form-label') }}
      {{ form.profile_pic(class='form-control') }}
      </br>
      {{ form.role.label(class='form-label') }}
      {{ form.role(class='form-select') }}
      </br>
      {{ form.favorite_color.label(class='form-label') }}
      {{ form.favorite_color(class='form-control') }}
      </br>
      {{ form.password.label(class='form-label') }}
      {{ form.password(class='form-control') }}
      </br>
      {{ form.confirm_password.label(class='form-label') }}
      {{ form.confirm_password(class='form-control') }}
      </br>
      {{ form.submit(class='btn btn-primary') }}
    </form>
  </div>
{% endif %}
{% endblock %}
