{% extends 'base.html' %}

{% block content %}
  <h1>Hello World!</h1>

  <p>This is my first webpage!!</p>

  <p>My name is {{ first_name }}</p>

  <h3>Favorite pizza</h3>

  {% for topping in favorite_pizza %}
    {% if topping == 'Pineapple' %}
      {{ 'Carbonara' }}
    {% else %}
      {{ topping }}</br>
    {% endif %}
  {% endfor %}

  <h3>This is the first topping: {{ favorite_pizza.0 }}</h3>

  <p>{{ code }}</p>

  <p>{{ code | safe }}</p>

  <p>{{ code | striptags }}</p>

  <p>{{ code | striptags | title }}</p>
{% endblock %}
